extends layout

block content

  .nav-bar
    if (!user) 
      a(href='/signup') Sign up
      <br>
    if (!user)
      a(href='/login') Login
    <br>
    if (user) 
      a(href='/join') Join the Club
    <br>
    if (user) 
      a(href='/admin') Be An Admin
    <br>
    if (user && user.member)
      .createbtn
        a(href='/create') Create Message
    <br>
  .title
    h1= title 
  if (user)
    .logoutbar 
      h2 Welcome #{user.first_name}
      if (user)
      .log-out-btn
        form(action="/logout", method="POST", class="logoutbutton" )
          input(type="submit", value="Logout")
      
 
  
    

  .message-panel 
    each message in messages 
      .message
        .message-title
          p #{message.title}
        .message-block
          p #{message.message}
        if (user && user.member)
          p #{message.timestamp}
        if (user && user.member)
          .message-username
            p Posted by #{message.author.username}
        if (user && user.admin)
          .deletebtn
            form(action="/" method="POST")
              input(type="hidden", name="messageId", required="true", value=message._id)
              button(type="submit") Delete
      
  footer 
    p Made by Faiyaaz    