extends layout

block content
  h1= title 
  if (user)
    h2 Welcome Back #{user.first_name}
    if (user)
      form(action="/logout", method="POST", class="logoutbutton" )
        input(type="submit", value="Logout")
    <br>
 
  .nav-bar
    if (!user) 
      a(href='/signup') Sign up
      <br>
    if (!user)
      a(href='/login') Login
    <br>
    if (!member && user) 
      a(href='/join') Join Club
    <br>
    if (user && user.member) 
      a(href='/create') Create Message
    <br>
    

  .message-panel 
    each message in messages 
      .message
        p= message.title 
        p= message.message
        p= message.timestamp
        if (user && user.member)
          p= message.author
      